[submodule "yaml-cpp"]
	path = yaml-cpp
	url = https://github.com/jbeder/yaml-cpp
[submodule "stepcode"]
	path = stepcode
	url = https://github.com/stepcode/stepcode/
	branch = master
[submodule "boost"]
	path = boost
	url = https://github.com/boostorg/boost
	branch = master
